.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #4f6f52;
    text-align: center;
    color: white;
    padding: 10px;
}


.social-icon {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 16px;
}


.contactofooter {
    margin-top: 5px;
}

.terminosfooter {
    margin-top: 5px;
}

.contactofooter a {
    text-decoration: none;
}

.terminosfooter a {
    text-decoration: none;
    color: inherit;
}

